[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=disksdaemon
X-KDE-DBus-ModuleName=disksdaemon
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=DisksDaemon
Name[cs]=Démon disků
Name[nds]=DisksDämoon
Name[pt]=Servidor de Discos
Name[pt_BR]=Daemon de discos
Name[sv]=Diskdemon
Name[uk]=Фонова служба дисків
Name[x-test]=xxDisksDaemonxx

Comment=Disks Daemon
Comment[cs]=Démon disků
Comment[nds]=Fastplaat-Dämoon
Comment[pt]=Servidor de Discos
Comment[pt_BR]=Daemon de discos
Comment[sv]=Diskdemon
Comment[uk]=Фонова служба дисків
Comment[x-test]=xxDisks Daemonxx

